[submodule "data"]
	path = data
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "derivatives"]
	path = derivatives
	url = ./derivatives
	datalad-id = 1197d39b-6f8c-446a-9c59-208f064419c2
